Controllers.meta
Managers.meta
Statics.meta
/Controllers/CameraController.cs.meta
/Controllers/PlayerController.cs.meta
/Managers/SceneManagerGame.cs.meta
/Managers/SceneManagerTitle.cs.meta
/Statics/GameObjectClasses.meta
/Statics/SceneManagement.meta
/Statics/SceneManagement/SceneLoader.cs.meta
/Statics/GameObjectClasses/Player.cs.meta
/GameFunctionalities.meta
/README.md.meta
/GameFunctionalities/RadialTrigger.cs.meta
/Statics/DialogSchema.cs.meta
/Controllers/UIControllers.cs.meta
/Renderers.meta
/Renderers/TextRenderer.cs.meta
/GameFunctionalities/ConversationTrigger.cs.meta
/Statics/CharacterConversationScripts.meta
/Statics/ConversationFetcher.cs.meta
/Statics/CharacterConversationScripts/sharon.json.meta
/Statics/NPCs.meta
/Statics/NPCs/Npc.cs.meta
/Statics/NPCs/Sharon.cs.meta
/Fetchers/ConversationFetcher.cs.meta
/Statics/CharacterConversationScripts/characterDialogues.json.meta
/Statics/NPCs/CurrentNpcHolder.cs.meta
/NPCFunctions.meta
/Statics/PhaseFormats/NpcInfo.cs.meta
/Statics/PhaseFormats/PhaseOneContainer.cs.meta
/Statics/PhaseFormats.meta
/NPCFunctions/CurrentNpcHolder.cs.meta
/Statics/ConversationTree.cs.meta
/Statics/Node.cs.meta
/GameFunctionalities/PlayerChoiceClickTrigger.cs.meta